section#about-us
  .container
    .text-center
      .col-sm-8.col-sm-offset-2
        h2.title-one Why With Us?
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    .about-us
      .row
        .col-sm-6
          h3 Why with us?
          ul.nav.nav-tabs
            li.active
              a(href='#about', data-toggle='tab')
                i.fa.fa-chain-broken
                |  About
            li
              a(href='#mission', data-toggle='tab')
                i.fa.fa-th-large
                |  Mission
            li
              a(href='#community', data-toggle='tab')
                i.fa.fa-users
                |  Community
          .tab-content
            #about.tab-pane.fade.in.active
              .media
                img.pull-left.media-object(src='images/about-us/about.jpg', alt='about us')
                .media-body
                  p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
            #mission.tab-pane.fade
              .media
                img.pull-left.media-object(src='images/about-us/mission.jpg', alt='Mission')
                .media-body
                  p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
            #community.tab-pane.fade
              .media
                img.pull-left.media-object(src='images/about-us/community.jpg', alt='Community')
                .media-body
                  p
                    | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .col-sm-6
          h3 Our Skills
          .skill-bar
            .skillbar.clearfix(data-percent='90%')
              .skillbar-title
                span HTML5 & CSS3
              .skillbar-bar
              .skill-bar-percent 90%
            // End Skill Bar
            .skillbar.clearfix(data-percent='85%')
              .skillbar-title
                span UI Design
              .skillbar-bar
              .skill-bar-percent 85%
            // End Skill Bar
            .skillbar.clearfix(data-percent='70%')
              .skillbar-title
                span jQuery
              .skillbar-bar
              .skill-bar-percent 70%
            // End Skill Bar
            .skillbar.clearfix(data-percent='60%')
              .skillbar-title
                span PHP
              .skillbar-bar
              .skill-bar-percent 60%
            // End Skill Bar
            .skillbar.clearfix(data-percent='75%')
              .skillbar-title
                span Wordpress
              .skillbar-bar
              .skill-bar-percent 75%
            // End Skill Bar
// /#about-us
