section#blog
  .container
    .row.text-center.clearfix
      .col-sm-8.col-sm-offset-2
        h2.title-one Our Blog
        p.blog-heading
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    .row
      .col-sm-4
        .single-blog
          img(src='images/blog/1.jpg', alt='')
          h2 Lorem ipsum dolor sit amet
          ul.post-meta
            li
              i.fa.fa-pencil-square-o
              strong  Posted By:
              |  John
            li
              i.fa.fa-clock-o
              strong  Posted On:
              |  Apr 15 2014
          .blog-content
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          a.btn.btn-primary(href='', data-toggle='modal', data-target='#blog-detail') Read More
        #blog-detail.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                img(src='images/blog/3.jpg', alt='')
                h2 Lorem ipsum dolor sit amet
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .col-sm-4
        .single-blog
          img(src='images/blog/2.jpg', alt='')
          h2 Lorem ipsum dolor sit amet
          ul.post-meta
            li
              i.fa.fa-pencil-square-o
              strong  Posted By:
              |  John
            li
              i.fa.fa-clock-o
              strong  Posted On:
              |  Apr 15 2014
          .blog-content
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          a.btn.btn-primary(href='', data-toggle='modal', data-target='#blog-two') Read More
        #blog-two.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                img(src='images/blog/2.jpg', alt='')
                h2 Lorem ipsum dolor sit amet
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .col-sm-4
        .single-blog
          img(src='images/blog/3.jpg', alt='')
          h2 Lorem ipsum dolor sit amet
          ul.post-meta
            li
              i.fa.fa-pencil-square-o
              strong  Posted By:
              |  John
            li
              i.fa.fa-clock-o
              strong  Posted On:
              |  Apr 15 2014
          .blog-content
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          a.btn.btn-primary(href='', data-toggle='modal', data-target='#blog-three') Read More
        #blog-three.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                img(src='images/blog/3.jpg', alt='')
                h2 Lorem ipsum dolor sit amet
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .col-sm-4
        .single-blog
          img(src='images/blog/3.jpg', alt='')
          h2 Lorem ipsum dolor sit amet
          ul.post-meta
            li
              i.fa.fa-pencil-square-o
              strong  Posted By:
              |  John
            li
              i.fa.fa-clock-o
              strong  Posted On:
              |  Apr 15 2014
          .blog-content
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          a.btn.btn-primary(href='', data-toggle='modal', data-target='#blog-four') Read More
        #blog-four.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                img(src='images/blog/3.jpg', alt='')
                h2 Lorem ipsum dolor sit amet
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .col-sm-4
        .single-blog
          img(src='images/blog/2.jpg', alt='')
          h2 Lorem ipsum dolor sit amet
          ul.post-meta
            li
              i.fa.fa-pencil-square-o
              strong  Posted By:
              |  John
            li
              i.fa.fa-clock-o
              strong  Posted On:
              |  Apr 15 2014
          .blog-content
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          a.btn.btn-primary(href='', data-toggle='modal', data-target='#blog-six') Read More
        #blog-six.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                img(src='images/blog/2.jpg', alt='')
                h2 Lorem ipsum dolor sit amet
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
      .col-sm-4
        .single-blog
          img(src='images/blog/1.jpg', alt='')
          h2 Lorem ipsum dolor sit amet
          ul.post-meta
            li
              i.fa.fa-pencil-square-o
              strong  Posted By:
              |  John
            li
              i.fa.fa-clock-o
              strong  Posted On:
              |  Apr 15 2014
          .blog-content
            p
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
          a.btn.btn-primary(href='', data-toggle='modal', data-target='#blog-seven') Read More
        #blog-seven.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-body
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                img(src='images/blog/1.jpg', alt='')
                h2 Lorem ipsum dolor sit amet
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                p
                  | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
// /#blog
