header#navigation
  .navbar.navbar-inverse.navbar-fixed-top(role='banner')
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          h1
            img(src='/images/logo.png', alt='logo')
      .collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.scroll.active
            a(href='#navigation') Home
          li.scroll
            a(href='#about-us') About Us
          li.scroll
            a(href='#services') Services
          li.scroll
            a(href='#our-team') Our Team
          li.scroll
            a(href='#portfolio') Portfolio
          li.scroll
            a(href='#clients') Clients
          li.scroll
            a(href='#blog') Blog
          li.scroll
            a(href='#contact') Contact
  // /navbar
// /#navigation
