section#portfolio
  .container
    .row.text-center
      .col-sm-8.col-sm-offset-2
        h2.title-one Portfolio
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.
    ul.portfolio-filter.text-center
      li
        a.btn.btn-default.active(href='#', data-filter='*') All
      li
        a.btn.btn-default(href='#', data-filter='.html') Html
      li
        a.btn.btn-default(href='#', data-filter='.wordpress') Wordpress
      li
        a.btn.btn-default(href='#', data-filter='.joomla') Joomla
      li
        a.btn.btn-default(href='#', data-filter='.megento') Megento
    // /#portfolio-filter
    .portfolio-items
      .col-sm-3.col-xs-12.portfolio-item.html
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/1.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.jooma
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/2.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item4.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.wordpress
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/3.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.megento
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/4.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.html
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/5.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.wordpress
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/6.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.html
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/7.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.joomla
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/8.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.html
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/9.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.wordpress
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/10.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.joomla
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/11.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item3.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
      .col-sm-3.col-xs-12.portfolio-item.megento
        .view.efffect
          .portfolio-image
            img(src='images/portfolio/12.jpg', alt='')
          .mask.text-center
            h3 Novel
            h4 Lorem ipsum dolor sit amet consectetur
            a(href='#')
              i.fa.fa-link
            a(href='images/portfolio/big-item4.jpg', data-gallery='prettyPhoto')
              i.fa.fa-search-plus
// /#portfolio
