extends layout

block content
  .preloader
    .preloder-wrap
      .preloder-inner
        .ball
        .ball
        .ball
        .ball
        .ball
        .ball
        .ball
  // /.preloader
  include partials/header
  include partials/home
  include partials/about-us
  include partials/services
  include partials/our-team
  include partials/portfolio
  include partials/clients
  include partials/blog
  include partials/contact
  include partials/footer
