script(type='text/javascript', src='/jquery/jquery.min.js')
script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='/isotope/jquery.isotope.min.js')
script(type='text/javascript', src='/javascripts/jquery.prettyPhoto.js')
script(type='text/javascript', src='/parallax/deploy/jquery.parallax.min.js')
script(type='text/javascript', src='/javascripts/main.js')
