link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='stylesheets/prettyPhoto.css')
link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='animate.css/animate.css')
link(rel='stylesheet', href='stylesheets/main.css')
link(rel='stylesheet', href='stylesheets/responsive.css')
link(rel='stylesheet', href='stylesheets/style.css')
